#title-bar {
	height: 60px;
}

#site-logo {
	margin-top: 12px;
	height: 36px;
}

#site-logo img {
	height: 36px;
}

#title-bar h1 {
	letter-spacing: -2px;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
}

#title-bar h2 {
	letter-spacing: 0px;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
}