@charset "utf-8";
.home-banner {
  float: left;
  position: relative;
  height: 547px;
  background-image: url('../img//home-banner.jpg');
  background-repeat: no-repeat;
}
.home-banner .social_network {
  margin-left: 30px;
  margin-top: 10px;
}
.home-banner .social_network .share {
  display: inline-block;
  width: 160px;
  height: 20px;
  float: left;
  background-image: url('../img//social-network/share.png');
  background-repeat: no-repeat;
}
.fb {
  float: left;
  display: inline-block;
  width: 31px;
  height: 30px;
  background-image: url('../img/social-network/fb.png');
}
.fb:hover {
  background-image: url('../img//social-network/fb-rollover.png');
}
.twitter {
  display: inline-block;
  float: left;
  width: 35px;
  height: 30px;
  background-image: url('../img//social-network/twitter.png');
}
.twitter:hover {
  background-image: url('../img//social-network/twitter-rollover.png');
}
.linkedin {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: url('../img//social-network/linkedin.png');
}
.linkedin:hover {
  background-image: url('../img//social-network/linkedin-rollover.png');
}

.legalfont{
	font-size:0.7em;
}

pre{
	font-family:Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
	font-size:.85em;
	color:#000;
	border-style:dashed;
	border-width:thin;
	border-radius:5px;
	border-color:#06F;
	line-height:1.5em;
	margin-bottom:1.833em;
	padding:.667em .917em;
	background-color:#EEF7FD;
}
