
#stacks_in_81_page9 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_81_page9 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_127_page9 {
	padding: 5px 0px 0px 0px;
}

#stacks_in_67_page9 {
	padding: 15px 0px 0px 0px;
}

#stacks_in_123_page9 {
	padding: 15px 0px 0px 0px;
}

#stacks_in_94_page9 {
	padding: 15px 0px 0px 0px;
}
