/* Internet Explorer 8 Specific Stylesheet */

#extraContent6 {
	background-color: #000000;
}

nav#main-navigation {
	background: #f1f1f1 url(images/ie8-navbar.jpg) repeat-x; /* Old browsers */
}

nav#main-navigation>.inner>ul>li>a:hover, nav#main-navigation>.inner>ul>li>a.current, nav#main-navigation>.inner>ul>li>a.currentAncestor, nav#main-navigation>.inner>ul>li#home-button>a:hover, nav#main-navigation>.inner>ul>li#home-button>a.current, nav#main-navigation>.inner>ul>li#home-button>a.currentAncestor {
	border-bottom: none;
}