/* @group CSS Reset */

html, body, h1, h2, h3, h4, h5, h6, blockquote, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

pre{
	font-family:Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
	font-size:.85em;
	color:#000;
	border-style:dashed;
	border-width:thin;
	border-radius:5px;
	border-color:#06F;
	line-height:1.5em;
	margin-bottom:1.833em;
	padding:.667em .917em;
	background-color:#EEF7FD;
}




/*pre2{
	font-family:Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
	font-size:.85em;
	color:#000;
	border-style:dashed;
	border-width:thin;
	border-radius:5px;
	border-color:#06F;
	line-height:1.5em;
	margin-bottom:1.833em;
	padding:.667em .917em;
	background-color:#F7F7F7;
}*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



/* @end */

/* @group Fonts */

@font-face {
	font-family: 'CreteRoundRegular';
	src: url('fonts/CreteRound-Regular-webfont.eot');
	src: local('fonts/ColabThi-webfont'), url('fonts/CreteRound-Regular-webfont.woff') format('woff'), url('fonts/CreteRound-Regular-webfont.ttf') format('truetype'), url('fonts/CreteRound-Regular-webfont.svgz#webfont') format('svg'), url('fonts/CreteRound-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UnnaRegular';
	src: url('fonts/Unna-Regular-webfont.eot');
	src: local('fonts/ColabThi-webfont'), url('fonts/Unna-Regular-webfont.woff') format('woff'), url('fonts/Unna-Regular-webfont.ttf') format('truetype'), url('fonts/Unna-Regular-webfont.svgz#webfont') format('svg'), url('fonts/Unna-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateThinRegular';
	src: url('fonts/ColabThi-webfont.eot');
	src: local('fonts/ColabThi-webfont'), url('fonts/ColabThi-webfont.woff') format('woff'), url('fonts/ColabThi-webfont.ttf') format('truetype'), url('fonts/ColabThi-webfont.svgz#webfont') format('svg'), url('fonts/ColabThi-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ColaborateBoldRegular';
	src: url('fonts/ColabBol-webfont.eot');
	src: local('fonts/ColabBol-webfont'), url('fonts/ColabBol-webfont.woff') format('woff'), url('fonts/ColabBol-webfont.ttf') format('truetype'), url('fonts/ColabBol-webfont.svgz#webfont') format('svg'), url('fonts/ColabBol-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans500';
	src: url('fonts/museosans_500-webfont.eot');
	src: local('fonts/museosans_500-webfont'), url('fonts/museosans_500-webfont.woff') format('woff'), url('fonts/museosans_500-webfont.ttf') format('truetype'), url('fonts/museosans_500-webfont.svgz#webfont') format('svg'), url('fonts/museosans_500-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url('fonts/museo_slab_500-webfont.eot');
	src: local('fonts/museo_slab_500-webfont'), url('fonts/museo_slab_500-webfont.woff') format('woff'), url('fonts/museo_slab_500-webfont.ttf') format('truetype'), url('fonts/museo_slab_500-webfont.svgz#webfont') format('svg'), url('fonts/museo_slab_500-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'socialicoregular';
	src: url('fonts/socialico-webfont.eot');
	src: local('fonts/socialico-webfont'), url('fonts/socialico-webfont.woff') format('woff'), url('fonts/socialico-webfont.ttf') format('truetype'), url('fonts/socialico-webfont.svgz#webfont') format('svg'), url('fonts/socialico-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @group FontAwesome */

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: none;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }



/* @end */





/* @end */

/* @group General */

html {
}

body {
	-webkit-font-smoothing: antialiased;
	font: 14px/1.45 "Lucida Grande", Lucida, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}

a, a:visited {
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

h4 {
	font-size: 22px;
	margin-bottom: 20px;
}

h5 {
	font-size: 18px;
	margin-bottom: 20px;
}

h6 {
	font-size: 16px;
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.45;
	margin: 0;
}

.image-left {
	float: left;
	margin: 12px 30px 12px 0;
}

.image-right {
	float: right;
	margin: 12px 0 12px 30px;
}

.clearer {
	clear: both;
}

.clear-left {
	clear: left;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.ie7 img, .iem7 img {
    -ms-interpolation-mode: bicubic
}

blockquote {
	margin-left: 24px;
	font-family: MuseoSlab500, Georgia, "Times New Roman", Times, serif;
	padding-left: 12px;
	border-left: 2px solid #b1b1b1;
	padding-top: 4px;
	padding-bottom: 4px;
}

strong {
	font-weight: bold;
}

ul {
	list-style-position: inside;
	padding-left: 15px;
}

header, nav, section, article, aside, footer, hgroup 
{ 
	display: block;
}




/* @end */

/* @group Layout */

.inner {
	margin-right: auto;
	margin-left: auto;
}

.shadow {
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

#title-bar {
	background-color: #2b2d33;
	display: block;
	width: 100%;
}

#site-logo {
	display: block;
	float: left;
	width: auto;
	margin-right: 20px;
}

#site-logo img {
	width: auto;
}

#title-bar h1 {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

#title-bar h2 {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

#header {
	color: #fff;
	height: auto;
	width: 100%;
}

#header .inner {
}

nav#main-navigation {
	background: #f1f1f1; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2QwZDBjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #d0d0cf 98%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(98%,#d0d0cf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#d0d0cf 98%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#d0d0cf 98%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#d0d0cf 98%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#d0d0cf 98%,#ffffff 100%); /* W3C */
	width: 100%;
	z-index: 500;
	position: relative;
	overflow: visible;
}

#social-badges {
	display: block;
	float: right;
	width: auto;
	margin-top: 5px;
	line-height: 30px;
	font-family: socialicoregular;
}



/* @group Social Badges */

a.myBadge{
	margin-left: 2px;
	height: 30px;
	display: block;
	float: left;
	background-position: center center;
	text-decoration: none;
	font-size: 38px;
	color: #8d9094;
	text-shadow: #ebecea 0 1px 0;
	text-align: center;
	-webkit-transition-property: color;
	-webkit-transition-duration: 400ms;
}

a.myBadge:visited{
	color: #8d9094;
}

a.myBadge:hover{
}

.twitterBadge:before {
	content: 'l';
}

.appstoreBadge:before {
	content: 'c';
}

.dribbbleBadge:before {
	content: 'd';
}

.linkedinBadge:before {
	content: 'i';
}

.vimeoBadge:before {
	content: 'v';
}

.skypeBadge:before {
	content: 'h';
}

.amazonBadge:before {
	content: 'a';
}

.youtubeBadge:before {
	content: 'x';
}

.yahooBadge:before {
	content: 'y';
}

.rssBadge:before {
	content: 'r';
}

.facebookBadge:before {
	content: 'f';
}

.starBadge:before {
	content: '-';
}

.heartBadge:before {
	content: '3';
}

.steamBadge:before {
	content: '/';
}

.pintrestBadge:before {
	content: '&';
}

.picasaBadge:before {
	content: '4';
}


/* @end */

#extraContent1 {
	padding-top: 40px;
	padding-bottom: 40px;
}

#extraContent2 {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65), 0 1px 0 rgba(256, 256, 256, 0.45);
	margin-top: 20px;
}

#extraContent2 .inner {
	padding-top: 40px;
	padding-bottom: 40px;
}

#extraContent2-trigger {
	width: 44px;
	height: 44px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65), 0 1px 0 rgba(256, 256, 256, 0.45);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65), 0 1px 0 rgba(256, 256, 256, 0.45);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65), 0 1px 0 rgba(256, 256, 256, 0.45);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65), 0 1px 0 rgba(256, 256, 256, 0.45);
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	font: 25px/50px FontAwesome;
	padding: 0;
	-webkit-transition-property: color;
	-webkit-transition-duration: 400ms;
}

#extraContent2-trigger i{
	width: 44px;
	height: 44px;
}

#extraContent2-trigger.active-icon, #extraContent2-trigger.active-icon:hover {
	color: #fff;
}


#extraContent3 {
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
}

#extraContent4 {
	background-color: #f6f6f6;
	margin: 30px -30px -30px;
	padding: 30px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
	border-top: 1px solid #eee;
}

#extraContent5 {
	background-color: #f6f6f6;
	padding: 40px;
	margin: -40px -40px 40px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #eee;
}

#extraContent6 {
	background-color: rgba(0,0,0,0.87);
	position: fixed;
	z-index: 1001;
	color: #fff;
	width: 100%;
	-webkit-box-shadow:  0px 1px 40px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:  0px 1px 40px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow:  0px 1px 40px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 1px 40px 0px rgba(0, 0, 0, 0.5);
}

#extraContainer6 {
}

#modal-close-button {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	border: 3px solid rgba(255,255,255,0.9);
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition-property: -webkit-box-shadow, box-shadow;
	-webkit-transition-duration: 300ms;
}

#modal-close-button:hover {
	-webkit-box-shadow:  0px 0px 20px 0px rgba(256, 256, 256, 0.5);
	-moz-box-shadow:  0px 0px 20px 0px rgba(256, 256, 256, 0.5);
	-o-box-shadow:  0px 0px 20px 0px rgba(256, 256, 256, 0.5);
	box-shadow:  0px 0px 20px 0px rgba(256, 256, 256, 0.5);
}

#extraContent4TopperImage {
	width: 180px;
	height: 8px;
	background: url(images/ec4-topper.png) no-repeat center center;
	margin-top: -34px;
	position: absolute;
}

#container {
	margin-top: 40px;
	color: #7b7b7b;
	margin-bottom: 40px;
}

#sidebar-container {
	position: relative;
	display: block;
	width: 240px;
	display: block;
}

#sidebar {
	background-color: #fff;
	padding: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

#sidebar hr {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px solid #eaeaea;
	margin: 20px -30px;
}

#sidebar .sbDivider {
	margin: 40px -30px 20px;
	display: block;
	text-align: left;
	border-bottom: 1px dashed #e4e4e4;
	border-top: 1px dashed #e4e4e4;
	background-color: #f6f6f6;
	text-transform: uppercase;
	padding: 4px 30px;
	font-size: 16px;
}

h3#sidebar-title {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.45;
}

.sidebar-pop-shadow {
	width: 240px;
	height: 11px;
	position: absolute;
	background: url(images/sidebar_pop_shadow.png) no-repeat center;
	left: 0;
	bottom: -11px;
}

#content {
	background-color: #fff;
	padding: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

footer {
	text-align: right;
	font-size: 12px;
	/*margin-bottom: 130px;*/
}


/***************************************************
			      NEW FOOTER
***************************************************/

.footerlinks a:link, .footerlinks a:visited, .footerlinks a:active{
	color:#999; 
	text-decoration: none;
}

footer{
	position: relative;
	height: 190px;
	clear: both;
	width: 100%;
	margin-bottom: 40px;
	background-color: #2b2d33;
	display: block;
	width: 100%;
}
#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;
}

#FooterOne{
	
	position: absolute;
	left: 340px;
	color:#999;
	
}

#FooterTwo {
	position: absolute;
	left: 350px;
	bottom: 10px;
	color: white;
	clear:both;
	font-size:11px;
}
#FooterThree {
	position: absolute;
	left: 225px;
	top: 26px;
	color: white;
}
.container {
	width: 980px;
	margin: 0 auto;
	background-color: #33CC99;
}




.content-pop-shadow {
	width: 100%;
	height: 11px;
	position: absolute;
	background: url(images/content-pop-shadow-680px.png) no-repeat center;
	left: 0;
	bottom: -11px;
}

/* @group Twitter Button */

.twitterBadgeWrapper {
	
}




/* @end */




/* @end */

/* @group Navigation */

nav#main-navigation>.inner>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 40px;
	text-align: left;
	position: relative;
	float: left;
	z-index: 501;
	overflow: visible;
}

nav#main-navigation>.inner>ul>li {
	display: block;
	float: left;
	position: relative;
}

nav#main-navigation>.inner>ul>li>a {
	text-decoration: none;
	height: 39px;
	line-height: 39px;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	color: #7b7e81;
	text-shadow: #f9f9f9 0 1px 0;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
	font-style: normal;
}

nav#main-navigation>.inner>ul>li.hasChild>a {
	padding-right: 26px;
	background: url(images/nav-gray-arrow.png) no-repeat right center;
}

nav#main-navigation ul li a:hover, nav#main-navigation>.inner>ul>li>a.current, nav#main-navigation>.inner>ul>li>a.currentAncestor {
}

nav#main-navigation>.inner>ul>li.hasChild>a:hover, nav#main-navigation>.inner>ul>li.hasChild>a.current, nav#main-navigation>.inner>ul>li.hasChild>a.currentAncestor {
}

nav#main-navigation>.inner>ul>li>a:hover, nav#main-navigation>.inner>ul>li>a.current, nav#main-navigation>.inner>ul>li>a.currentAncestor {
}

nav#main-navigation ul ul {
	position: absolute;
	list-style-type: none;
	display: none;
	padding: 1px 0 0;
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #fff;
	overflow: visible;
}

nav#main-navigation ul ul li {
	background-color: #fff;
	position: relative;
}

nav#main-navigation ul ul li a {
	height: 30px;
	line-height: 30px;
	width: 180px;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fff;
	color: #909397;
	text-decoration: none;
}

nav#main-navigation ul ul li.hasChild>a {
	background: url(images/nav-gray-arrow.png) no-repeat right center;
}


nav#main-navigation ul ul li a.current, nav#main-navigation ul ul li a.currentAncestor {
}

nav#main-navigation ul ul li.hasChild>a:hover, nav#main-navigation ul ul li.hasChild>a.current, nav#main-navigation ul ul li.hasChild>a.currentAncestor {
}

nav#main-navigation ul ul li.lastChild {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-bottom: 12px;
}

nav#main-navigation ul ul li.firstChild {
	padding-top: 12px;
}

nav#main-navigation ul ul ul {
	position: absolute;
	left: 215px;
	z-index: 800;
	top: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-property: -webkit-box-shadow, box-shadow;
	-webkit-transition-duration: 300ms;
}

nav#main-navigation ul ul ul:hover {
	-webkit-box-shadow:  0px 1px 23px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 23px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0px 1px 23px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 23px 0px rgba(0, 0, 0, 0.3);
}

nav#main-navigation ul ul ul li.firstChild {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#home-button>a {
	width: 40px;
	padding-right: 0 !important;
	padding-left: 0 !important;
}



/* @end */

/* @group Blog */

#archives {
	margin: 20px 0 0;
	padding: 0;
}

#archives a {
	text-decoration: none;
}

.blogBadge {
	height: 55px;
	width: 55px;
	border: 4px solid #fff;
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 55px;
	color: #fff;
	font-size: 32px;
	/*-webkit-transition-duration: 200ms;
	transition-duration: 200ms;*/
}

/*.blog-entry:hover .blogBadge {
	-webkit-box-shadow:  0px 1px 18px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:  0px 1px 18px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow:  0px 1px 18px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 1px 18px 0px rgba(0, 0, 0, 0.2);
	margin-top: -5px;
}*/

.blogEntryTopperImg {
	width: 100%;
	height: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.blogEntryTopper_wrapper {
	position: relative;
	margin-bottom: 20px;
}

/* @group Tag Cloud */
ul.blog-tag-cloud {
	text-align: left;
	display: block;
	list-style-type: none;
	padding: 0;
	list-style-position: inside;
	margin: 20px 0 0;
}

ul.blog-tag-cloud a, ul.blog-tag-cloud a:visited, ul.blog-tag-cloud a:link{
	text-decoration: none;
	height: 25px;
	line-height: 25px;
	background: url(images/tag_right_side.png) repeat-x right center;
	display: inline-block;
	color: #656565 !important;
	text-shadow: #f1f1f1 0 1px 0;
	padding: 0 9px 0 5px;
}

ul.blog-tag-cloud a:hover {
	text-decoration: none;
}

ul.blog-tag-cloud li {
	display: inline-block;
	padding: 0 0 0 12px;
	position: relative;
	list-style-position: inside;
	list-style-type: none;
	background: url(images/tag_left_side.png) no-repeat left center;
	white-space: nowrap;
	line-height: 25px;
	height: 25px;
	margin: 0 0 3px;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.blog-tag-size-1 {
}

.blog-tag-size-2 {
}

.blog-tag-size-3 {
}

.blog-tag-size-4 {
}

.blog-tag-size-5 {
}

.blog-tag-size-6 {
}

.blog-tag-size-7 {
}

.blog-tag-size-8 {
}

.blog-tag-size-9 {
}

.blog-tag-size-10 {
}

.blog-tag-size-11 {
}

.blog-tag-size-12 {
}

.blog-tag-size-13 {
}

.blog-tag-size-14 {
}

.blog-tag-size-15 {
}

.blog-tag-size-16 {
}

.blog-tag-size-17 {
}

.blog-tag-size-18 {
}

.blog-tag-size-19 {
}

.blog-tag-size-20 {
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-archive-headings-wrapper {
	margin-bottom: 30px;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	text-decoration: none;
}	
/* @end */

.blog-entry {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e9e9e8;
}

.lastBlogChild {
	margin-bottom: 0;
	padding-bottom: 0;
	border-style: none;
}

.blog-entry .image-left,
.blog-entry .image-right {
}

h1.blog-entry-title {
	padding: 0;
	margin: 0;
	line-height: 1.15;
	letter-spacing: -2px;
}

.blog-entry-title a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 26px;
	display: inline-block;
	position: relative;
	margin: 0 0 6px;
}

.blog-entry-title a:hover {
	text-decoration: none;
}

.blog-entry-date {
	margin-bottom: 25px;
	line-height: 14px;
}

.blog-entry-body {
}

p.blog-entry-tags {
	margin: 20px 0 0;
}

p.blog-entry-tags a, p.blog-entry-tags a:visited {
}

p.blog-entry-tags a:hover {
}

.blog-entry-comments {
}

.blog-entry-comments:hover {
}

.blog-entry-comments a, .blog-entry-comments a:visited {
}

.blog-entry-comments a:hover {
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link,
.blog-entry-category a:visited {
}

.blog-entry-category a:hover {
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-top: 20px;
}

#blog-archives br {
}

.blog-archive-link-enabled:before {
	padding-right: 6px;
}

#blog-archives a, #blog-archives a:visited {
}

#blog-archives a:hover {
}

.blog-archive-link-disabled:before {
	content: '\f017';
	margin-right: 6px;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	font-family: FontAwesome;
}

a.blog-archive-link-enabled:hover, .blog-archive-link-disabled:hover {
}
/* Styles the blog categories in the blog sidebar */

#blog-categories {
}

#blog-categories a, #blog-categories a:visited {
}

.blog-category-link-enabled:before {
	padding-right: 6px;
}

.blog-category-link-enabled, .blog-category-link-disabled {
}

#blog-categories a:hover {
}

.blog-category-link-disabled {
}

.blog-category-link-enabled:hover, .blog-category-link-disabled:hover {
}

#blog-categories br {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 20px;
}

#blog-rss-feeds br  {
}

a.blog-rss-link,
a.blog-comments-rss-link, a:link.blog-rss-link,
a:link.blog-comments-rss-link, a:visited.blog-rss-link,
a:visited.blog-comments-rss-link {
}

a.blog-rss-link:hover {
}

/* Read More links */

.blog-read-more {
	display: block;
	margin: 20px 0 0;
	padding: 0;
}

.blog-read-more a, .blog-read-more a:visited {
	display: inline-block;
}

.blog-read-more a:hover, .blog-read-more a:active {
}

.blog-read-more:before {
	content: '\f002';
	font-family: FontAwesome;
	margin-right: 6px;
}


/* @end */

/* @group File Sharing */

.filesharing-description {
	margin-bottom: 40px;
}

.filesharing-item {
	padding: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.filesharing-item:nth-child(odd) {
}

.filesharing-item:nth-child(even) {
	background-color: #f6f6f6;
}

.filesharing-item:hover {
}

.filesharing-item-title {
}

.filesharing-item-title a, .filesharing-item-title a:visited {
	font-size: 18px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Single View */

.photo-background {
	text-align: center;
}

.photo-background p{
}

.photo-navigation {
	margin-bottom: 20px;
}

.photo-links {
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {
}

.photo-frame {
	background-color: #fff;
	padding: 40px;
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 60px;
}

.photo-background p.photo-title {
	font-size: 24px;
	margin-bottom: 20px;
	letter-spacing: -1px;
}

.photo-background p.photo-caption {
	font-weight: normal;
	font-style: normal;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	padding-bottom: 72px;
}

.exif-data p {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */

/* @group Index Page View */

.album-title {
	font-size: 24px;
	margin-bottom: 20px;
}

.album-description {
	margin-bottom: 40px;
}


.album-wrapper {
	position: relative;
	z-index: 1;
}

.thumbnail-wrap {
	position: relative;
	display:inline;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.thumbnail-frame {
	position: relative;
	display: block;
}

.thumbnail-frame img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}


.thumbnail-caption {
	text-align: left;
	margin-top: 4px;
	display: block;
	position: relative;
	font-size: 10px;
	white-space: pre-line;
	width: 100%;
	overflow: hidden;
}
	
/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page View */

.movie-page-title {
	margin: 0 0 12px;
	padding: 0;
	text-decoration: none;
	font: 22px/26px MuseoSlab500, Georgia, "Times New Roman", Times, serif;
}

.movie-page-description {
	display: block;
	margin-bottom: 30px;
}

.movie-thumbnail-frame {
	margin-right: 12px;
	margin-bottom: 48px;
	float: left;
	display: block;
}

.movie-thumbnail-frame img {
}

.movie-thumbnail-caption {
	margin: 0;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	font-size: 10px;
}
	
/* @end */

/* @group Single Page View */
.movie-background {
}

.movie-title {
}

.movie-frame {
}

	
/* @end */


/* @end */

/* @group Forms */
form {
	margin: 0;
	padding: 0;
}

label {
}

.message-text {
} 

.required-text {
	font-weight: bold;
} 

.form-input-field {
	border: 1px solid #babab9;
	padding: 8px;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition-property: border-color, -webkit-box-shadow;
	transition-property: border-color, box-shadow;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	-webkit-box-shadow:  inset 0px 0px 3px 0px #efefef;
	-moz-box-shadow:  inset 0px 0px 3px 0px #efefef;
	-o-box-shadow:  inset 0px 0px 3px 0px #efefef;
	box-shadow: inset 0px 0px 0px 3px #efefef;
	width: 95%;
}
	

.form-input-field:focus {
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
} 

/* @end */

/* @group Breadcrumb Trail */

#breadcrumb {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: left;
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	padding: 20px 40px;
	margin: 40px -40px -40px;
}

#breadcrumb ul {
	list-style-type: none;
	margin: 0;
	background: url(images/breadcrumb-cloud-icon.png) no-repeat left center;
	padding: 0 0 0 34px;
	list-style-image: none;
}

#breadcrumb li {
	display: inline-block;
}

#breadcrumb li:before {
	content: '' !important;
	padding: 0 !important;
	margin: 0 !important;
}

#breadcrumb li a {
	margin: 0;
	text-decoration: none;
	color: #7b7b7b;
	font-size: 12px;
}

#breadcrumb li.lastItem a {
	font-weight: bold;
}

#breadcrumb .lastItem {
}
	
/* @end */

/* @group ExtraContent */


#myExtraContent1,#myExtraContent2,#myExtraContent3,#myExtraContent4,#myExtraContent5,#myExtraContent6 {
	display: none;
}

/* @group ExtraContent Columns */

/*
CSS code for ExtraContent Columns Snippets*/

.column { 
	float: left;
}

.one { 
	width: 100%; 
}

.two { 
	width: 50%; 
}

.three { 
	width: 33%; 
}

.four { 
	width: 25%; 
}

.five { 
	width: 20%; 
}

.two3rds { 
	width: 66%; 
}

.three4ths { 
	width: 75%; 
}

.four5ths { 
	width: 80%; 
}

.column .content { 
	width: 90% ! important; 
	margin: 0 auto; 
	padding: 0 ! important; 
	float: none ! important;
}

/* @end */



/* @end */

/* @group Disqus Commenting */


#disqus_thread {
	overflow:hidden;
}

#dsq-comments-title {
    clear:none !important;
} 

#dsq-content .dsq-options {
    clear:none !important;
}

#dsq-thread-settings  {
    clear:none !important;
}

#dsq-content div {
    clear:none !important;
}

.dsq-login-buttons li {
    clear:none !important;
    margin-bottom: 25px!important;
}

/* @end */

/* @group Theme FAQ */


#themefaqOverlay {
	z-index: 2999;
	overflow: auto;
	padding: 80px 0;
	display: block;
}

#themefaqWrapper {
	width: 624px;
	z-index: 3000;
	webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #000;
	background-color: rgba(34,34,34,0.94);
	background-image: url(../../../common/style/assets/images/themefaqHighlight.png);
	background-repeat: repeat-x;
	background-position: 0 top;
	-webkit-box-shadow: 0px 1px 24px rgba(0,0,0,0.8), inset 0px 0px 1px rgba(50,50,50,1); 
	box-shadow: 0px 1px 24px rgba(0,0,0,0.8), inset 0px 0px 1px rgba(50,50,50,1);
	color: #abadb9;
	padding: 24px;
	font-weight: normal;
	font-style: normal;
	opacity: 0;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#themefaqWrapper h3 {
	color: #90919b;
	font: 20px/26px MuseoSlab500, "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-bottom: 18px;
	text-shadow: #050505 0 1px 0;
}

#themefaqAccordion a.themefaqQuestion {
	font: normal 15px/18px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
	display: block;
	webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #000;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 8px;
	background-color: rgba(50,50,50,0.9);
	background-image: url(../../../common/style/assets/images/themefaqHighlightSmall.png);
	background-repeat: repeat-x;
	background-position: 0 top;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.4), inset 0px 0px 1px rgba(82,82,82,1); 
	box-shadow: 0px 1px 4px rgba(0,0,0,0.4), inset 0px 0px 1px rgba(82,82,82,1);
	color: #c2c4d2;
}


#themefaqAccordion a.themefaqQuestion:hover {
	color: #858791;
}

#themefaqAccordion a.ui-state-active, #themefaqAccordion a.ui-state-active:hover {
	color: #3daeee;
	-webkit-animation-duration: 3.25s;
	-webkit-animation-name: pulse;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
	
}

.themefaqAnswer p {
	padding: 10px;
}

@-webkit-keyframes pulse { 
	from {
	-webkit-box-shadow:  inset 0px 0px 1px #fff, 0px 0px 12px rgba(61,174,238,0.15); 
	} 
	60% {
	-webkit-box-shadow: inset 0px 0px 1px #fff, 0px 0px 12px rgba(61,174,238,0.92); 
	} 
	to {
	-webkit-box-shadow: inset 0px 0px 1px #fff, 0px 0px 12px rgba(61,174,238,0.15); 
	}

}





/* @end */

/* @group View.js (LightBox) */

.viewer li{
	-webkit-transition: width 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-moz-transition: width 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition: width 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.viewer li.current img{
	-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.3),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
	-moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.3),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
	box-shadow:0 10px 20px rgba(0, 0, 0, 0.3),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
}

.viewer .caption{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
}

.viewer .current .caption{
	opacity: 100;
	visibility: visible;
	color: #fff;
}




/* @end */


